.content-wrapper {
    background-image: url(../images/white_0013.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notification-user {
    margin-bottom: 20%;
}

.notification-whole {
    margin-bottom: 25%;
}

.notification-list {
    font-size: large;
    padding-bottom: 10px;
    padding-left: 2%;
}
